body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: cursive;
    position: relative;
    left: 400px;
    
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
  }
  
  .move-icon {
    height: 50px;
  }
  
  .move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
  }
  .move-button:hover{
    transform: scale(1.1);
  }
  
  .result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .score {
    margin-top: 60px;
  }
  
  .reset-score-button {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    font-family: cursive;
    cursor: pointer;
    transition: 0.5s;
  }
  .reset-score-button:hover{
    background-color: gray;
    color: white;
   
    transform: scale(1.2);
  }